
body { 
    background-color: beige;
    font-family: 'Germania One', cursive;
  }
  .header { 
    display: grid;
    grid-template-columns: a;
    grid-template-rows: a;
  }
  .sidebar { 
    background-color: #1fbcdb; 
  }
  .sidebar > div { 
    color: white;
  }
  .main { 
    background-color: rgba(10, 10, 39, 0.815);
  }
  .main .projects { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
  }
  
  .form { 
    color:white;
    font-weight: bold;
  }
 .calculator { 
    color: white;
    font-weight: bold;
 }
 .sketch { 
  color:white;
  font-weight: bold;
 } 
 .reactapp { 
  color:white;
  font-weight: bold;
 }
 .rubyapp { 
  color: white;
  font-weight: bold;
 }
 .nodeapp { 
  color:white;
  font-weight: bold;
 }
 button {   
  background-color: #08829c;
   color: white;
  border-radius: 20px;
  margin-right: 0.5rem;
  width: 4rem;
  }
  .username { 
    font-weight: bolder;
  }
  .siteicon { 
    overflow: hidden;
    display: inline;
  }
  .homeicon { 
    overflow: hidden;
    display: inline;
  }
  .projects > div { 
    border: 2px solid;
  }
  .projects p  { 
    color: rgba(255, 255, 255, 0.692);
  }
  #disabled { 
    border-radius: 10px;
    background-color: #e7e0e5;
    width: 25rem;
  }
  .maintenance , .privacypolicy { 
    border: 2px solid;
  }
  .footer { 
    background-color: gray;
  }
  svg { 
    height: 20px;
    background-color: snow;
  }
 